<h1>Invoice List</h1>

<%= link_to 'Upload excel', new_import_invoice_path %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Customer</th>
      <th>Invoice No.</th>
      <th>Detail</th>
    </tr>
  </thead>

  <tbody>
   <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.date.strftime("%Y-%m-%d") %></td>
      <td><%= invoice.customer %></td>
      <td><%= invoice.invoice_no %></td>
      <td><%= link_to 'Info', invoice_path(invoice) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
